/* Universal styles */
body {
    background-color: #202C36;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

::placeholder {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* Header styles */
header {
    background-color: #2B3844;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button {
    background-color: transparent;
    color: white;
    border: none;
}

header i {
    margin-right: 5px;
}

/* Main */
main ul .back-li {
    background-color: #2B3844;
    width: 70px;
    padding: 10px 20px;
    margin: 35px 0;
    border-radius: 5px;
}

main .info {
    display: flex;
    justify-content: space-between;
}

main img, main .right {
    width: 45%;
}

main .content {
    display: flex;
    gap: 100px;
}

main .content li {
    margin: 4px;
}

main .borders {
    display: flex;
    gap: 15px;
} 

main .borders li {
    background-color: #2B3844;
    padding: 10px 20px;
    border-radius: 5px;
}

main .border-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 992px) {
    main .info {
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    main .content {
        gap: 0px;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    header  {
        padding-bottom: 20px;
    }

    header .container {
        flex-direction: column;
    }

    main ul .back-li {
        margin: 35px auto;
    }

    main h2 {
        text-align: center;
    }

    main .content {
        flex-direction: column;
        align-items: center;
    }

    main .border-box {
        flex-direction: column;
        gap: 0px;
    }
}
